<div class="cc-chrome">
  <a href="https://www.cyberchitta.cc/" class="cc-logo">
    <img src="https://www.cyberchitta.cc/assets/images/shared/cc-260508.svg" alt="CyberChitta" decoding="async" width="32" height="32">
  </a>
  <a href="https://www.cyberchitta.cc/" class="logo-text font-typewriter no-underline">CyberChitta</a>
</div>
