<nav class="flex items-center justify-between py-4" aria-label="Main Navigation">
  <a href="/" class="flex items-center">
    <div class="w-12 h-12 overflow-hidden rounded-full mr-3">
      <img src="https://www.cyberchitta.cc/assets/images/shared/cc-260508.svg" alt="CyberChitta" class="w-full h-full object-cover" decoding="async" width="48" height="48">
    </div>
    <span class="logo-text text-3xl font-typewriter flex items-center">CyberChitta</span>
  </a>
</nav>
