<% const _home = (typeof homeUrl !== 'undefined' && homeUrl) ? homeUrl : '/'; -%>
<div class="sub-site-bar">
  <a href="<%= _home %>" class="sub-site-name"><%= site.title %></a>
  <% if (site.tagline) { %><span class="sub-site-tagline"><%= site.tagline %></span><% } %>
</div>
